{% extends 'template.html' %}

{% block header %}
  {% block title %} <title>Cadastro</title> {% endblock %}
{% endblock %}
  
{% block content %}
  <div class="container bg-white border border-dark-subtle mt-5 p-5 rounded">
    <h1>Cadastro</h1>

    <form class="row" method="post">
      
      <div class="col-md-6 mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" required placeholder="Melhor Nome">
      </div>
      <div class="col-md-6 mb-3">
        <label for="sobrenome" class="form-label">Sobrenome</label>
        <input type="text" class="form-control" id="sobrenome" name="sobrenome" placeholder="Sobrenome">
      </div>
      <div class="col-12 mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" required placeholder="nome@exemplo.com">
      </div>
      <div class="col-12 mb-3">
        <label for="senha" class="form-label">Password</label>
        <input type="password" class="form-control" id="senha" name="senha" required placeholder="*****">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary mb-3">Enviar</button>
      </div>
    </form>
  </div>
{% endblock %}
